<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="HKB_Appium Test">
    <classes>
      <class name="hkbdevelopment.HKB_Appium"/> 
    </classes>
  </test>   
    <test thread-count="5" name="ChildTest Test">
	<classes>
      <class name="hkbdevelopment.ChildTest"/>
    </classes>
  </test> 
  <test thread-count="5" name="dataProvider_FillForm Test">
	 <classes>
      <class name="hkbdevelopment.dataProvider_FillForm"/>
     </classes>
  </test>  
  <test thread-count="5" name="ValidateAmount Test">
	<classes>
      <class name="hkbdevelopment.ValidateAmount"/>
    </classes>
  </test>
 
</suite> <!-- Suite -->
